#mdiv
{
  width:15px;
  height:15px;
}
.mdiv
{
  height:15px;
  width:2px;
  margin-left:12px;
  background-color:black;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  Z-index:1;
}
.md
{
  height:15px;
  width:2px;

  background-color:black;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  Z-index:2;
}