* {
  font-style: "Franklin Gothic"
}

input{
    display: block;
}

.addIdea{
    float: left;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
}

.specificIdea{
    background-color: gold;
    font-style: 'Futura';
}